In [5]:
import pickle
import gzip
import numpy as np
import matplotlib.pyplot as plt
from scipy.special import softmax
import pandas as pd    
import torch

In [6]:
gpt_out_path = 'gpt-2_output/'

In [12]:
vals_dict = {'tfs':[0.25, 0.99], 'flat':[0.01, 0.05],
'n': [0.1,  0.9], 'k':[1,200]  }

In [17]:
import random
keys =  list(vals_dict.keys())      # Python 3; use keys = d.keys() in Python 2
random.shuffle(keys)
lol = [(key, vals_dict[key]) for key in keys]
lol = dict(lol)

[('n', [0.1, 0.9]),
 ('k', [1, 200]),
 ('flat', [0.01, 0.05]),
 ('tfs', [0.25, 0.99])]

In [18]:
dict(lol)

{'n': [0.1, 0.9], 'k': [1, 200], 'flat': [0.01, 0.05], 'tfs': [0.25, 0.99]}

In [10]:
times = []
for key,all_params in vals_dict.items():
    for par in all_params:
        time = pickle.load( gzip.open(gpt_out_path+'time_taken_for_all_'+key+'-sampling-type_'+str(par)+'-sampling-param_100-word-prompts_150-gen-length_100-number-of-prompts.pickle.gz', 'rb'))
        times.append((key, par, time))

In [11]:
pd.DataFrame(times)

      0       1          2
0   tfs    0.25  66.202989
1   tfs    0.99  65.853906
2  flat    0.01  65.314467
3  flat    0.05  65.867672
4     n    0.10  68.252399
5     n    0.90  65.001728
6     k    1.00  60.178414
7     k  200.00  60.287346

In [3]:
time

65.85390567779541